
/* Color-palette I used: https://coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: #2B2D42;
}

body {
    min-height: 100vh;
    color: #edf2f4;
}

a {
    text-decoration: none;
    color: none;
}

#logo img {
    width: 120px;
    height: 120px;
    margin: 0 50px;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edf2f4;
    border-bottom: #2b2d42ad solid 2px;
}

#navbar {
    margin: 0 50px;
    color: #000077;
    height: 70px;
}

#navbar ul {
    margin: 5px 0 10px 0;
    list-style: none;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}

#navbar li {
    display: inline;
    padding: 12px;
    border: 1px solid darkblue;
    border-radius: 20px;
}

#navbar li:hover {
    transform: scale(2.22);
    background-color: rgb(233, 233, 233);
}

/* Auskommentiert für bessere Übersicht

    #sidebar {
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 125px;
}

#sidebar ul {
    list-style: none;
    color: #000044;
    border: 0.2em darkolivegreen solid;
    border-radius: 0.7em;
    background-color: lightgreen;
}

#sidebar li {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border: 0.1em solid darkgreen; 
    font-size: 14px;
}

#sidebar li:hover {
    background-color: darkslategray;
} */




main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #D90429;
    margin: 50px 0 30px 0;
    text-shadow: 2px 2px 4px black;
}

.slideshow {
    padding-bottom: 60px;
    border-bottom: #8D99AE solid 3px;
    margin-bottom: 30px;
}

.slideshow img {
    width: 80vw;
    max-height: 700px;
    object-fit: cover;
    border-radius: 10px;
}




.content {
    width: 80vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 30px;
}

/* #content-mainpage{
    width: 70%;
    height: 25em;
    margin-top: 5px;
    margin-left: 125px;
    border-radius: 0.7em;
    border: 1px solid darksalmon;
    background-color: darkseagreen;
    font-size: 12px;
}

#content-mainpage p {
    margin: 5px;
} */

footer {
    float: bottom;
    margin-left: 125px;
    font-size: 9px;
    text-align: center;
    color: #000044;
}

@media (max-width: 760px){
    .nav-header {
        /* background-color: black; Debugging: Media Query wird manchmal nicht aktiviert -.-*/
        flex-flow: column;
    }
}