*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9f9f9;
}

#logo img {
    width: 120px;
    height: 120px;
    background-color: whitesmoke;
    float: left;
    
}

#navbar {
    color: #000077;
    background-color: whitesmoke;
    width: 70%;
    height: 70px;
    margin-left: 120px;
    float: inline-start;
}

#navbar ul {
    margin: 5px 0 10px 0;
    list-style: none;
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
}

#navbar li {
    display: inline;
    padding: 12px;
    border: 1px solid darkblue;
    border-radius: 20px;
}

#navbar li:hover {
    background-color: darkgrey;
}

#sidebar {
    width: 120px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 125px;
}

#sidebar ul {
    list-style: none;
    color: #000044;
    border: 0.2em darkolivegreen solid;
    border-radius: 0.7em;
    background-color: lightgreen;
}

#sidebar li {
    text-align: right;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border: 0.1em solid darkgreen; 
    font-size: 14px;
}

#sidebar li:hover {
    background-color: darkslategray;
}

#content-mainpage{
    width: 70%;
    height: 25em;
    margin-top: 5px;
    margin-left: 125px;
    border-radius: 0.7em;
    border: 1px solid darksalmon;
    background-color: darkseagreen;
    font-size: 12px;
}

#content-mainpage p {
    margin: 5px;
}

footer {
    float: bottom;
    margin-left: 125px;
    font-size: 9px;
    text-align: center;
    color: #000044;
}